body {
    overflow: hidden;
}

#marqueecontainer{
	position: relative;
    width: 500px; /*marquee width */
    height: 30%; /*marquee height */
    background-color: black;
    overflow: hidden;
    border: 1px dotted white;
    margin: 10% auto 0 auto;
    padding: 10px;
    padding-left: 20px;
    z-index: 200;
}

#textcolor {
	color: #fff;
}